.navbar-brand {
	font-size: 2em;
}

.nav-link {
	font-size: 1.3em;
}

.page-title {
	font-size: 3em;
}

.page-subtitle {
	font-size: 1.3em;
	font-style: italic;
}

.body-text {
	font-size: 1em;
}

.body-subtext {
	font-size: .85em;
}

.title-row {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}